/*
Theme Name: Wordcamp Puebla 2018
Theme URI: 
Description: Tema demo de plugins
Author: Emiliano Hernández
Author URI: http://twitter.com/milioh
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu (optional)

License: 
License URI: 

Lead Project: @milioh
Design: @milioh
UX & HTML Building: @milioh
Development & Functions: @milioh
*/


/* FONTS */


/* COLORS */
.wcpuebla2018 { background-color: #0E105A !important; }


/* GENERAL */
.space20 { margin-top: 20px; display: block; }
.centered { text-align: center; margin: 0 auto; }
.error { color: red; }


/* STYLES FOR TABLETS */
@media only screen  and (max-width : 992px) {
	
}

/* STYLES FOR SMARTPHONES */
@media only screen  and (max-width : 600px) {
	
}
